@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color:#fd4766;
    --secondary-color:#0e1525;
    --bg-dark-blue:#020d26;
    --bg-dark-deepblue:#08022d;
    --bg-white:#fff;
    --gray-color:#959595;
    --gradient-color:linear-gradient(90deg, rgba(3,7,139,1) 0%, rgba(62,8,121,1) 0%, rgba(121,9,102,1) 0%, rgba(95,5,162,1) 72%, rgba(55,0,255,1) 100%);
    --gradient-text:linear-gradient(120deg, #1c99fe 20.69, #7644ff 50.19%, var(--primary-color) 79.69%);;

    /* --text-color-- */
    --primary-font:'Cabin', sans-serif;
    --primary-text:#fd4766;
    --text-gray:#959595;
    --text-white:#fff;
}

body {
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
}

a {
    text-decoration: none !important;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg-dark-blue);
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}

section {
    padding: 50px 0;
}
.main-btn {
    display: inline-block;
    border-radius: 50px;
    transition: all 0.4s ease-in-out;
    padding: 10px 25px;
    background-color: transparent;
    border: 2px solid var(--gray-color);
    color: var(--text-gray);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover {
    background-color: var(--primary-color);
    border-color:var(--primary-text);
    color:var(--text-white);
}
h1 {
    font-size: 54px;
    font-weight: 800;
    line-height: 68px;
    color:var(--text-white);
    margin-bottom: 20px;
}
h1 span {
    color: var(--primary-color);
}
h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.3;
    color:var(--text-white);
    margin-bottom: 15px;
}
h3 {
    font-size: 24px;
    font-weight: 600;
    color:var(--text-white);
    margin-bottom: 19px;
}
h4 {
    font-size: 20px;
    font-weight: 600;
    color:var(--text-white);
    margin-bottom: 19px;
}
h5 {
    font-size: 18px;
    font-weight: 600;
    color:var(--text-white);
    margin-bottom: 19px;
}
h6 {
    font-size: 15px;
    color:var(--text-gray);
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block; 
    letter-spacing: 2px;
}
a {
    text-decoration: nones;
}
p {
    color:var(--text-gray); 
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
li {
    list-style: none;
}
.sub-title {
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-bottom:12px;
    /* color:var(--gradient-color); */
    color: var(--primary-text);
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button {
    outline: none !important;
    box-shadow: none;
}

/* navbar */
.header-wrapper .navbar {
    padding: 15px 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.header-wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;
}
.header-wrapper .navbar-toggler {
    border: none;
    color: var(--gray-color);
    line-height: 2;
}
.header-wrapper .navbar-toggler:focus {
    box-shadow: none;
}
.header-wrapper .nav-item {
    margin: 0 10px;
}
.header-wrapper .nav-item .nav-link {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color:var(--text-gray);
    font-weight: 500;
}
.header-wrapper .nav-item .nav-link::after {
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: 0.3s;
    bottom: 0;
}
.header-wrapper .nav-item .nav-link.active::after,
.header-wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}
.header-wrapper .nav-item .nav-link.active,
.header-wrapper .nav-item .nav-link:hover {
    color: var(--text-white);
}
.header-scrolled {
    background-color: var(--bg-dark-blue);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.5);
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: var(--primary-text);
}

/* banner */
.banner-wrapper {
    padding: 200px 0 100px;
    width: 100%;
    height: auto;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://wallpaperaccess.com/full/5651978.png);
}

/* about */
.about-wrapper ul.nav-pills{
    border:1px solid var(--text-gray);
    border-radius: 50px;
}
.about-wrapper ul li .nav-link {
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.45s cubic-bezier(0,0,0.2,1);
    display: inline-block;
    color: var(--text-white);
    border: 0;
}
.about-wrapper ul li .nav-link.active {
    background-color: var(--primary-color);
}
.about-wrapper .single-progress {
    margin-top: 25px;
    position: relative;
    overflow: hidden;
}
.about-wrapper .single-progress .progress {
    height: 4px;
    border-radius: 5px;
    box-shadow: none;
    /* background-color: var(--bg-white); */
    overflow: visible;
}
.about-wrapper .single-progress .progress-bar {
    background-image: var(--gradient-color);
}
.about-wrapper .single-progress h6 {
    text-align: left;
}
.about-wrapper .progress-bar-label {
    position: absolute !important;
    right: 0;
    top:0px;
    color: #959595;
    font-size: 15px;
}
.about-wrapper .tab-pane li {
    color: var(--gray-color);
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 300;
}
.about-wrapper .tab-pane li a {
    display: block;
    color: var(--gray-color);
    font-weight: 500;
}

/* service */
.service-wrapper {
    background-color: var(--bg-dark-deepblue);
}
.service-wrapper .card {
    background-color: var(--bg-dark-blue);
    cursor: pointer;
    transition: transform 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    box-shadow: 0.65s cubic-bezier(0.05, 0.2, 0.1, 1);
    text-align: center;
}
.service-wrapper .card:hover {
    box-shadow: 0 0px 70px 0 rgba(253 71 102 / 5% );
    transform: translateY(-5px);
}
.service-wrapper .card img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.service-wrapper i {
    color: var(--primary-color);
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}
/* portfolio */
.portfolio-wrapper .card {
    height: 100%;
    min-height: 350px;
    overflow: hidden;
    border: 1px solid var(--bg-white);
    box-shadow: 0 0 16px 4px var(--bg-dark-blue);
}
.portfolio-wrapper .card span {
    transition: background-position 4s ease-in-out 0s;
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
}
.portfolio-wrapper .card:hover span {
    background-position: bottom center;
}

/* contact */
.contact-wrapper {
    background-color: var(--bg-dark-deepblue);
}
.contact-wrapper span {
    color: var(--primary-color);
}
 
.contact-wrapper .form-control,
.contact-wrapper textarea {
    background-color: transparent;
    border-color: var(--gray-color);
    color: var(--text-gray);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
}
.contact-wrapper .form-control:hover,
.contact-wrapper textarea:hover,
.contact-wrapper .form-control:focus,
.contact-wrapper textarea:focus {
    border-color: var(--primary-color);
    color: var(--text-white);
}
.contact-wrapper .call-details {
    color: var(--text-gray);
    margin: auto;
}
.contact-wrapper .call-details a {
    color: var(--text-white);
}
/* footer */
.footer-wrapper {
    padding: 20px 0 0;
}
.footer-logo {
    width: 50%;
    margin: 0 auto;
}
.footer-wrapper .footer-logo img {
    width: 100px;
}
.social-icon {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.footer-wrapper .social-icon li {
    margin: 6px;
}
.footer-wrapper .social-icon a {
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 32px;
    font-size: 15px;
    border: 2px solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    border-radius: 100%;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer-wrapper .social-icon a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-white);
    box-shadow: 0 10px 15px 0 rgba(0 0 0 / 10%);
    transform: translateY(-3px);
}
.footer-wrapper-copyright {
    background-color: var(--bg-dark-deepblue);
    color: var(--text-gray);
    height: 50px;
    padding: 15px 0 0;
}
.footer-wrapper-copyright p {
    font-size: 11px;
    line-height: 20px;
}
