@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
.navbar {
    width: 100%;
    height: 80px;
    // background-color: #0e1525;
    padding: 20px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed !important;
    z-index: 1;

    .logo {
        font-size: 18px;
        font-weight: 600;
    }

    .links {
        display: flex;
        cursor: pointer;
        list-style: none;
        text-decoration: none !important;
        li {
            margin: 0 15px;
            a {
                text-decoration: none;
            }
        }
    }

    .toggle-icons {
        display: block;
    }
}

@media(max-width:768px) {
    .navbar {
        position: relative;
        transition: 0.5s height ease-in-out;

        .logo {
            position: absolute;
            top: 30px;
            left: 20px;
        }

        .toggle-icons {
            display: block;
            color: #fd4766;
            font-size: 30px;
            position: absolute;
            top: 13px;
            right: 20px;
            cursor: pointer;
        }

        .links {
            display: none;
        }

    }

    .navbar.expanded {
        height: 100vh;

        .links {
            position: absolute;
            top: 120px;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 1;

            li {
                margin: 15px 0;
                font-size: 24px;
            }
        }
    }

    .navbar .toggle-icon {
        display: block;
        color: #D9D2C3;
        position: absolute;
        top: 28px;
        right: 20px;
    }

    .navbar .links {
        position: absolute;
        top: -300px;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .navbar .links li {
        margin: 15px 0;
        font-size: 24px;
    }
}

